[defaults]
inventory = inventory.ini
roles_path = ./roles
host_key_checking = False
retry_files_enabled = False
forks = 10
timeout = 30

# Keep output reasonably concise but still show task names
display_skipped_hosts = False
stdout_callback = yaml

[ssh_connection]
pipelining = True

